In [ ]:
pip install pandas mysql-connector

In [ ]:
import mysql.connector

# Step 1.1: Connect to MySQL Server
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password"  # Your MySQL root password
)

cursor = mydb.cursor()

# Step 1.2: Create the Database
cursor.execute("CREATE DATABASE IF NOT EXISTS Global_Electronics")

print("Database 'Global_Electronics' created successfully.")

# Step 1.3: Close Connection
cursor.close()
mydb.close()

In [ ]:
# Load customer_data CSV and insert into MySQL
customer_data = pd.read_csv('customer_data.csv')

# Create customer_data table
create_customer_table_query = """
CREATE TABLE IF NOT EXISTS customer_data (
    CustomerKey INT PRIMARY KEY,
    Gender VARCHAR(255),
    Name VARCHAR(255),
    City VARCHAR(255),
    State_Code VARCHAR(255),
    State VARCHAR(255),
    Zip_Code VARCHAR(255),
    Country VARCHAR(255),
    Continent VARCHAR(255),
    Birthday DATE
);
"""
create_table(create_customer_table_query)

# Insert customer_data into MySQL
for _, row in customer_data.iterrows():
    insert_query = """
    INSERT INTO customer_data (CustomerKey, Gender, Name, City, State_Code, State, Zip_Code, Country, Continent, Birthday)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    ON DUPLICATE KEY UPDATE
        Gender = VALUES(Gender),
        Name = VALUES(Name),
        City = VALUES(City),
        State_Code = VALUES(State_Code),
        State = VALUES(State),
        Zip_Code = VALUES(Zip_Code),
        Country = VALUES(Country),
        Continent = VALUES(Continent),
        Birthday = VALUES(Birthday);
    """
    cursor.execute(insert_query, tuple(row))

print("customer_data has been successfully loaded into the database!")

In [ ]:
# Load exchange_data CSV and insert into MySQL
exchange_data = pd.read_csv('exchange_data.csv')

# Create exchange_data table
create_exchange_table_query = """
CREATE TABLE IF NOT EXISTS exchange_data (
    Date DATE,
    Currency VARCHAR(255),
    Exchange DECIMAL(10, 4),
    PRIMARY KEY (Date, Currency)
);
"""
create_table(create_exchange_table_query)

# Insert exchange_data into MySQL
for _, row in exchange_data.iterrows():
    insert_query = """
    INSERT INTO exchange_data (Date, Currency, Exchange)
    VALUES (%s, %s, %s)
    ON DUPLICATE KEY UPDATE
        Exchange = VALUES(Exchange);
    """
    cursor.execute(insert_query, tuple(row))

print("exchange_data has been successfully loaded into the database!")

In [ ]:

# Load products CSV and insert into MySQL
products_data = pd.read_csv('products.csv')

# Create products table
create_products_table_query = """
CREATE TABLE IF NOT EXISTS products (
    ProductKey INT PRIMARY KEY,
    Product_Name VARCHAR(255),
    Brand VARCHAR(255),
    Color VARCHAR(255),
    Unit_Cost_USD DECIMAL(10, 2),
    Unit_Price_USD DECIMAL(10, 2),
    SubcategoryKey INT,
    Subcategory VARCHAR(255),
    CategoryKey INT,
    Category VARCHAR(255)
);
"""
create_table(create_products_table_query)

# Insert products into MySQL
for _, row in products_data.iterrows():
    row = tuple(None if pd.isna(val) else val for val in row)  # Replace NaN with None
    insert_query = """
    INSERT INTO products (ProductKey, Product_Name, Brand, Color, Unit_Cost_USD, Unit_Price_USD, SubcategoryKey, Subcategory, CategoryKey, Category)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
    ON DUPLICATE KEY UPDATE
        Product_Name = VALUES(Product_Name),
        Brand = VALUES(Brand),
        Color = VALUES(Color),
        Unit_Cost_USD = VALUES(Unit_Cost_USD),
        Unit_Price_USD = VALUES(Unit_Price_USD),
        SubcategoryKey = VALUES(SubcategoryKey),
        Subcategory = VALUES(Subcategory),
        CategoryKey = VALUES(CategoryKey),
        Category = VALUES(Category);
    """
    cursor.execute(insert_query, row)

print("products has been successfully loaded into the database!")

In [ ]:
# Load sales CSV and insert into MySQL
sales_data = pd.read_csv('sales.csv')

# Create sales table
create_sales_table_query = """
CREATE TABLE IF NOT EXISTS sales (
    Order_Number INT PRIMARY KEY,
    Line_Item INT,
    Order_Date DATE,
    Delivery_Date DATE,
    CustomerKey INT,
    StoreKey INT,
    ProductKey INT,
    Quantity INT,
    Currency_Code VARCHAR(255)
);
"""
create_table(create_sales_table_query)

# Insert sales data into MySQL
for _, row in sales_data.iterrows():
    insert_query = """
    INSERT INTO sales (Order_Number, Line_Item, Order_Date, Delivery_Date, CustomerKey, StoreKey, ProductKey, Quantity, Currency_Code)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    ON DUPLICATE KEY UPDATE
        Line_Item = VALUES(Line_Item),
        Order_Date = VALUES(Order_Date),
        Delivery_Date = VALUES(Delivery_Date),
        CustomerKey = VALUES(CustomerKey),
        StoreKey = VALUES(StoreKey),
        ProductKey = VALUES(ProductKey),
        Quantity = VALUES(Quantity),
        Currency_Code = VALUES(Currency_Code);
    """
    cursor.execute(insert_query, tuple(row))

print("sales has been successfully loaded into the database!")

In [ ]:
# Load stores CSV and insert into MySQL
stores_data = pd.read_csv('stores.csv')

# Create stores table
create_stores_table_query = """
CREATE TABLE IF NOT EXISTS stores (
    StoreKey INT PRIMARY KEY,
    Country VARCHAR(255),
    State VARCHAR(255),
    Square_Meters DECIMAL(10, 2),
    Open_Date DATE
);
"""
create_table(create_stores_table_query)

# Insert stores data into MySQL
for _, row in stores_data.iterrows():
    insert_query = """
    INSERT INTO stores (StoreKey, Country, State, Square_Meters, Open_Date)
    VALUES (%s, %s, %s, %s, %s)
    ON DUPLICATE KEY UPDATE
        Country = VALUES(Country),
        State = VALUES(State),
        Square_Meters = VALUES(Square_Meters),
        Open_Date = VALUES(Open_Date);
    """
    cursor.execute(insert_query, tuple(row))

print("stores has been successfully loaded into the database!")

# Commit the changes and close the connection
mydb.commit()
cursor.close()
mydb.close()

print("All data has been successfully loaded into the database!")